.coord {
  margin-right: 1em;
  font-size: 0.7em;
}

.card {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 10em;
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card p {
  font-size: 0.8em;
  margin: 0;
}

.card img {
  width: 20%;
  height: 50%;
  object-fit: cover;
  border-radius: 2px;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}