.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  font-weight: 300;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(45deg, #500ca0, #A00C5C, #0C5CA0);
}

.coord {
  margin-right: 1em;
  font-size: 0.7em;
}

.card {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 10em;
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255 255 255 / 0.1);
}
.card p {
  font-size: 0.8em;
  margin: 0;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.weather {
  width: 20%;
  height: 50%;
  object-fit: cover;
  border-radius: 2px;
}

