.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 300;
  width: 100vh;
  height: 100vh;
  background:  linear-gradient(45deg, #500ca0, #A00C5C, #0C5CA0);
 
}

